!!! 5
%html{ :lang => "en" }
  %head
    %meta{ :charset => "utf-8" }/
    %title 設定
    %meta{ :name => "description", :content => "" }/
    %meta{ :name => "author", :content => "" }/
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }/
    / material icons
    %link{:href => "https://fonts.googleapis.com/icon?family=Material+Icons", :rel => "stylesheet"}/
    %link{ :rel => "stylesheet", :href => "stylesheets/style.css"}/

  %body

    #chat-list.fixed
      .nav.three-col
        .left-col
          %a.button{:href => "/"} 取消 
        .mid-col
          .chat-title
            設定
        .right-col  
          %a.button{:href => "/"} 儲存


    #content
      %h4 個人檔案設定
      %p.clear
        %span.caption{:style => "margin: 10px; display: inline-block;"} 點一下來上傳新的大頭照
        %span.avatar{:style => "display: inline-block;"}
          %img{:src => "img/avatar/a19.jpg"}/
      %p
        %label.caption{:for => "sample3"} 暱稱
        %br/
        %input{:type => "text",:value => "fe9234hk4tw5kooefrs", :placeholder => "暱稱"}/

    
    -# Live Reload
    = livereload_js if ENV["RACK_ENV"] != "production"

