/* line 9, ../sass/style.scss */
body {
  line-height: 19.6px;
  font-size: 14px;
  font-family: sans-serif;
}

/* line 15, ../sass/style.scss */
.unit a {
  color: black;
}

/* line 19, ../sass/style.scss */
a {
  color: #0b82a1;
  text-decoration: none;
}
/* line 20, ../sass/style.scss */
a.active {
  color: white;
  border-radius: 3px;
  background: #0b82a1;
}
/* line 24, ../sass/style.scss */
a.active:hover {
  color: white;
}
/* line 30, ../sass/style.scss */
a:hover {
  color: #22C6F0;
}

/* line 35, ../sass/style.scss */
.text {
  font-size: 12.6px;
  line-height: 21px;
  color: gray;
}

/* line 41, ../sass/style.scss */
.extra {
  font-size: 12.6px;
  color: #C0C0C0;
}

/* line 45, ../sass/style.scss */
.timestamp {
  font-size: 11.2px;
  color: #C0C0C0;
}

/* line 50, ../sass/style.scss */
.filter {
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 12.6px;
  height: 28px;
  border-radius: 3px;
  padding: 3px;
  width: 100%;
  background: rgba(0, 0, 0, 0.05);
}

/* line 61, ../sass/style.scss */
.chat-title {
  text-align: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
/* line 63, ../sass/style.scss */
.chat-title a {
  font-size: 12.6px;
  color: gray;
}

/* line 72, ../sass/style.scss */
.unit.unread {
  font-weight: bold;
}
/* line 74, ../sass/style.scss */
.unit.unread .text {
  color: black;
}
/* line 77, ../sass/style.scss */
.unit.unread .timestamp, .unit.unread .extra {
  font-weight: normal;
}
/* line 81, ../sass/style.scss */
.unit.unread .avatar img {
  -webkit-animation-name: stretch;
  animation-name: stretch;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0;
  animation-delay: 0;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: none;
  animation-fill-mode: none;
  -webkit-animation-play-state: running;
  animation-play-state: running;
}

@-webkit-keyframes stretch {
  0% {
    box-shadow: 0 0 0 #22C6F0;
    border: 1px solid rgba(34, 198, 240, 0.2);
  }
  100% {
    box-shadow: 0 0 20px #22C6F0;
    border: 1px solid white;
  }
}
@keyframes stretch {
  0% {
    box-shadow: 0 0 0 #22C6F0;
    border: 1px solid rgba(34, 198, 240, 0.2);
  }
  100% {
    box-shadow: 0 0 20px #22C6F0;
    border: 1px solid white;
  }
}
/* line 124, ../sass/style.scss */
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

/* line 133, ../sass/style.scss */
#chat-list.fixed {
  background: rgba(255, 255, 255, 0.9);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

/* line 143, ../sass/style.scss */
#chat-content {
  padding: 100px 0;
  color: black;
  overflow: auto;
  background: rgba(0, 0, 0, 0.05);
}
/* line 148, ../sass/style.scss */
#chat-content .me {
  margin: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
/* line 155, ../sass/style.scss */
#chat-content .message-text {
  text-align: left;
  color: black;
  background: rgba(0, 0, 0, 0.1);
  margin: 5px;
  border-radius: 10px;
  padding: 0.5em 1em;
  max-width: 70%;
  display: inline-block;
}
/* line 165, ../sass/style.scss */
#chat-content .friend {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 10px;
  text-align: right;
}
/* line 171, ../sass/style.scss */
#chat-content .friend .message-text {
  text-align: right;
  color: white;
  background: #0ea9d1;
  margin: 5px;
  text-align: left;
}

/* line 181, ../sass/style.scss */
.message-box {
  position: fixed;
  height: 42px;
  line-height: 1.5em;
  padding: 0.5em 5px;
  bottom: 0;
  width: 100%;
  background: white;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 192, ../sass/style.scss */
.search, .chat-title {
  height: 42px;
  line-height: 42px;
  padding: 0 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

/* line 199, ../sass/style.scss */
.nav {
  height: 42px;
  line-height: 42px;
  padding: 0 10px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
/* line 203, ../sass/style.scss */
.nav a {
  padding: 0.2em 0.5em;
}
/* line 209, ../sass/style.scss */
.nav .right-col {
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}
/* line 215, ../sass/style.scss */
.nav .mid-col {
  text-align: center;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

/* line 224, ../sass/style.scss */
.unit {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: 5px 10px 5px 0px;
  overflow: hidden;
  height: 70px;
}
/* line 234, ../sass/style.scss */
.unit:active {
  background: rgba(34, 198, 240, 0.05);
}

/* line 239, ../sass/style.scss */
.content {
  margin-top: 7px;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 70px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

/* line 253, ../sass/style.scss */
.text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
}

/* line 259, ../sass/style.scss */
.people {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

/* line 268, ../sass/style.scss */
.avatar {
  float: left;
}
/* line 270, ../sass/style.scss */
.avatar .wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  width: 70px;
}
/* line 277, ../sass/style.scss */
.avatar img {
  margin: auto;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
